<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{siteUrl }}/node_modules/bootstarp-slider/dist/css/bootstrap-slider.css" rel="stylesheet"/>
    <style>
    img{
        width:100%
    }
    #container{
        display: table-cell;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        vertical-align: middle;
        text-align: center;
    }
    .title {
        display: inline-block;
        font-size: 5rem;
        color: #383e70;
    }
    .gallery-wrapper {
  position: relative;
  z-index: 1;
}
.gallery-wrapper .content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh 0;
  background: #101014;
  background: linear-gradient(to left, #19191f, #101014);
}
.gallery-wrapper .content .gallery.full {
  position: relative;
  display: flex;
  align-items: center;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper {
  display: flex;
  height: 80vh;
  align-items: center;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  height: 50vh;
  transition: all 0.4s ease-out;
  box-sizing: border-box;
  width: auto;
  opacity: 0.25;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-prev, .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-next {
  width: 20% !important;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
  height: 80vh;
  width: 60% !important;
  opacity: 1;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active:hover .zoom {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .image {
  width: 100%;
  height: 100%;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: auto;
  padding: 50px 50px 30px 50px;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay.show {
  opacity: 1;
  visibility: visible;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay.show .text-wrap {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay .text-wrap {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.4s linear;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay .text-wrap .name span {
  font-size: 2.2em;
  font-weight: 700;
}
.gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay .text-wrap .caption p {
  font-size: 1.16em;
  color: #fff;
  line-height: 1.7;
}
.gallery-wrapper .content .gallery.full .swiper-next-button,
.gallery-wrapper .content .gallery.full .swiper-prev-button {
  position: absolute;
  z-index: 99;
  outline: none;
  transition: all 0.2s linear;
  width: 20%;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.gallery-wrapper .content .gallery.full .swiper-next-button.swiper-button-disabled,
.gallery-wrapper .content .gallery.full .swiper-prev-button.swiper-button-disabled {
  opacity: 0.2;
}
.gallery-wrapper .content .gallery.full .swiper-next-button em,
.gallery-wrapper .content .gallery.full .swiper-prev-button em {
  font-size: 68px;
}
.gallery-wrapper .content .gallery.full .swiper-next-button {
  right: 0;
  padding-left: 5vw;
  justify-content: flex-start;
}
.gallery-wrapper .content .gallery.full .swiper-prev-button {
  left: 0;
  padding-right: 5vw;
}
.gallery-wrapper .content .gallery.thumb {
  position: relative;
  width: auto;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  width: 10vw;
  height: 10vh;
  box-sizing: border-box;
  cursor: pointer;
}
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-thumb-active .image {
  box-shadow: inset 0px 0px 0px 2px #ed1b28;
  padding: 2px;
}
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-thumb-active .image .overlay {
  opacity: 1;
}
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide .image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide .image .overlay {
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: rgba(43, 44, 54, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 0;
  transition: all 0.2s linear;
}
.gallery-wrapper .content .gallery.thumb .swiper-next-button {
  right: -15px;
}
.gallery-wrapper .content .gallery.thumb .swiper-prev-button {
  left: -5px;
}
.gallery-wrapper .content .gallery.thumb .swiper-prev-button em {
  transform: rotate(180deg);
}
.gallery-wrapper .content .gallery.thumb .swiper-next-button,
.gallery-wrapper .content .gallery.thumb .swiper-prev-button {
  position: absolute;
  z-index: 99;
  outline: none;
  transition: all 0.2s linear;
  width: 32px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed1b28;
  cursor: pointer;
}
.gallery-wrapper .content .gallery.thumb .swiper-next-button:hover,
.gallery-wrapper .content .gallery.thumb .swiper-prev-button:hover {
  background-color: #c5101b;
}
.gallery-wrapper .content .gallery.thumb .swiper-next-button.swiper-button-disabled,
.gallery-wrapper .content .gallery.thumb .swiper-prev-button.swiper-button-disabled {
  opacity: 0.2;
}

/*signature*/
.signature {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.signature h3 {
  font-weight: 600;
  font-size: 0.926em;
  color: #ed1b28;
  display: flex;
  margin-bottom: 5px;
}
.signature a,
.signature em {
  text-decoration: none;
  color: #777;
  margin-right: 5px;
  font-size: 0.88em;
  transition: all 0.2s linear;
}
.signature a:hover,
.signature em:hover {
  color: #aaa;
}

/*Mobile*/
@media only screen and (max-width: 1024px) {
  .gallery-wrapper .content {
    padding: 5vh 0;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper {
    height: 70vh;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide {
    height: 50vh;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-prev, .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-next {
    width: 10% !important;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
    height: 70vh;
    width: 80% !important;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay {
    padding: 20px;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay .text-wrap {
    transform: translateY(0);
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay .text-wrap .name span {
    font-size: 1.6em;
  }
  .gallery-wrapper .content .gallery.full .swiper-container .swiper-wrapper .swiper-slide .overlay .text-wrap .caption p {
    font-size: 1.06em;
  }
  .gallery-wrapper .content .gallery.full .swiper-next-button,
.gallery-wrapper .content .gallery.full .swiper-prev-button {
    width: 10%;
    height: 50vh;
    align-items: center;
    justify-content: center;
  }
  .gallery-wrapper .content .gallery.full .swiper-next-button em,
.gallery-wrapper .content .gallery.full .swiper-prev-button em {
    font-size: 45px;
  }
  .gallery-wrapper .content .gallery.full .swiper-next-button {
    padding-left: 0;
  }
  .gallery-wrapper .content .gallery.full .swiper-prev-button {
    padding-right: 0;
  }
  .gallery-wrapper .content .gallery.thumb {
    padding: 0 30px;
    max-width: 100%;
  }
  .gallery-wrapper .content .gallery.thumb .swiper-container .swiper-wrapper .swiper-slide {
    width: auto;
    height: 80px;
  }
  .gallery-wrapper .content .gallery.thumb .swiper-next-button {
    right: 10px;
  }
  .gallery-wrapper .content .gallery.thumb .swiper-prev-button {
    left: 10px;
  }
    </style>
</head>
<body class="ltr">
    {% set homebanner = craft.assets()
    .volume('images')
    .kind('image') %}
    {% set imagesbanner = homebanner.first() %}
    <div id="container" style="background-image: url({{ imagesbanner.getUrl() }})">
        <div class="title">{{ imagesbanner.title }}</div>
    </div>
    {% set myAssetQuery = craft.assets()
    .volume('slider')
    .kind('image') %}
    {# Fetch the assets #}
    {% set images = myAssetQuery.all() %}
    <div class="container">
        <div class="gallery-wrapper">
		    <div class="content">
				<div class="gallery full">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for image in images %}
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="{{ image.getUrl() }}" alt="{{ image.title }}">
                                </div>
                                <div class="overlay">
                                        <div class="text-wrap">
                                            <div class="name">
                                                <span>Slider Gallery</span>
                                            </div>
                                            <div class="caption">
                                                <p>{{ image.title }}</p>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="swiper-next-button">
                        <em class="material-icons">chevron_right</em>
                    </div>
                    <div class="swiper-prev-button">
                        <em class="material-icons">chevron_left</em>
                    </div>
				</div>

				<div class="gallery thumb">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for image in images %}
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="{{ image.getUrl() }}" alt="{{ image.title }}"/>

                                    <div class="overlay">
                                        <em class="material-icons">remove_red_eye</em>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="swiper-next-button">
                            <em class="material-icons">arrow_right_alt</em>
                    </div>
                    <div class="swiper-prev-button">
                            <em class="material-icons">arrow_right_alt</em>
                    </div>
				</div>
		    </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
$(function(){
    if($('.gallery-wrapper').length){
        var galleryThumbs = new Swiper('.gallery-wrapper .content .gallery.thumb .swiper-container', {
            speed: 900,
            effect: 'slide',
            slidesPerView: 'auto',
            spaceBetween: 12,
            grabCursor: false,
            simulateTouch: true,
            loop: false,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
            navigation: {
                nextEl: '.gallery-wrapper .content .gallery.thumb .swiper-next-button',
                prevEl: '.gallery-wrapper .content .gallery.thumb .swiper-prev-button',
            },
            breakpoints: {
                320: {
                    slidesPerView: 2,
                    spaceBetween: 10,
                },
                414: {
                    slidesPerView: 3,
                    spaceBetween: 10
                },
                768: {
                    slidesPerView: 5,
                    spaceBetween: 10
                },
                1024: {
                    slidesPerView: 7,
                    spaceBetween: 10
                }
            }
        });

        var galleryFull = new Swiper('.gallery-wrapper .content .gallery.full .swiper-container', {
            speed: 900,
            effect: 'slide',
            slidesPerView: 3,
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 7000,
                disableOnInteraction: false,
                stopOnLastSlide: false
            },
            keyboard: {
                enabled: true,
            },
            grabCursor: false,
            simulateTouch: false,
            loop: true,
            navigation: {
                nextEl: '.gallery-wrapper .content .gallery.full .swiper-next-button',
                prevEl: '.gallery-wrapper .content .gallery.full .swiper-prev-button',
            },
            thumbs: {
                swiper: galleryThumbs
            },
            on: {
                slideChangeTransitionStart: function () {
                    $('.gallery-wrapper .content .gallery.full .swiper-slide .overlay').removeClass('show');
                },
                slideChangeTransitionEnd: function () {
                    $('.gallery-wrapper .content .gallery.full .swiper-slide-active .overlay').addClass('show');
                }
            }
        });
    }
});
</script>
</body>
</html>
